{% extends "base.html" %}

{% block body %}
<div class="container">

  {% if request.session.signup_success_message %}
    <div class="alert alert-success">
      <strong>{{ request.session.signup_success_message }}</strong>
    </div>
  {% endif %}

  {% if form.errors %}
    <div class="alert alert-danger">
      <p>Your username and password didn't match. Please try again.</p>
    </div>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <div class="alert alert-warning">
        <p>Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
      </div>
    {% else %}
      <div class="alert alert-info">
        <p>Please login to see this page.</p>
      </div>
    {% endif %}
  {% endif %}

  <form class="my-4" method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="mb-3">
      <label for="id_username" class="form-label">Username</label>
      {{ form.username }}
    </div>
    <div class="mb-3">
      <label for="id_password" class="form-label">Password</label>
      {{ form.password }}
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
    <input type="hidden" name="next" value="{{ next }}">
  </form>

  <p><a href="{% url 'password_reset' %}" class="text-decoration-none">Lost password?</a></p>

</div>

{% endblock %}