{% extends "base.html" %}
{% load static %}
{% block body %}

<div class="container">
    
<h1>Dashboard</h1>
<div class="container">
  <div class="alert alert-success d-none" role="alert">
    Your cashnomics chart has been saved!
  </div>

  <div class="row">
    <div class="col">
      <p>You have {{financial_model_count}} financial model(s) </p>
      <p> {{financial_model_data}}</p>
      {{ financial_model_data | json_script:"financial_model_data" }}
      
      <!-- <canvas id="cashFlowChart"></canvas>
    </div>
    <div class="col">
      <canvas id="moneyMapChart"></canvas> -->
    </div>
  </div>

</div>
</div>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
  <script src="{% static 'cashnomics/dashboard-script.js' %}"></script> 
  <script>

// Create the chart instance
const ctx1 = document.getElementById('cashInChart');
let chartData = [];

const myChart = new Chart(ctx1, {
  type: 'bar',
  data: {
    labels: ['Cash In', 'Cash Out', 'Cash Left'],
    datasets: [{
      data: chartData,
      backgroundColor: ['#FF6384'],
      borderWidth: 1,
    }]
  },
  options: {
    plugins: {
      legend: {
        display: false
      }
    },
    responsive: true, // Enable responsiveness
    maintainAspectRatio: false, // Set to false to allow the chart to dynamically resize
    scales: {
      y: {
        beginAtZero: true
      }
    }
  }
});
  </script> -->
    {% endblock %}
