{% extends "base.html" %}
{% load static %}
{% block body %}

<div class="container">
    
<h1>Dashboard</h1>
<div class="container">
  <div class="alert alert-success d-none" role="alert">
    Your cashnomics chart has been saved!
  </div>
  <div class="col">
    <div class="row">
        <p>You have {{financial_model_count}} financial model(s) </p>
        <p> {{financial_model_data}}</p>
        {{ financial_model_data | json_script:"financial_model_data" }}
    </div>
    
    <div class="row">
      <div class="col-md-8">
        <canvas id="cashChart"></canvas>
      </div>
    </div>
  </div>

</div>
</div>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
  <script src="{% static 'cashnomics/dashboard-script.js' %}"></script> 
  <script src="{% static 'cashnomics/dashboard-charts.js' %}"></script> 
  <script src="{% static 'cashnomics/salary-calc-script.js' %}"></script> 

    {% endblock %}
